<h1>Animal -
  <%= @animal.name %>(<%= @animal.type %>)</h1>

<p>Adoption Status:
  <%= @animal.adopt_status %></p>
<p>Type:
  <%= @animal.type %></p>
<p>Breed:
  <%= @animal.breed %></p>
  <p>Admission Date:
    <%= @animal.admis_date %></p>
<p>Is the Animal good with kids:
  <%= @animal.good_with_kids %></p>
<p>Good with other pets:
  <%= @animal.good_with_other_pets %></p>
<p>Does the animal need attention:
  <%= @animal.need_attention %></p>
