<h1>Owners Name -
  <%= @owner.name %></h1>

<p>Address:
  <%= @owner.address %></p>
<p>Suitablity/Checks passed:
  <%= @owner.suitablity %></p>
<p>Has Kids:
  <%= @owner.has_kids %></p>
<p>Has_other_pets:
  <%= @owner.has_other_pets %></p>
<p>Can give attention:
  <%= @owner.give_attention %></p>

  <form action="/owners/<%=@owner.id%>/delete" method="POST">
  <input type="submit" value="Delete Owner">
</form>

<p><a href="/owners/<%= @owner.id %>/edit">Update Owner</a></p>
